export ORDER_CLUSTER_NAME=""
export ORDER_CLUSTER_NS=""
export ORDER_DATABASE_NAME=""
export ORDER_APP_USERNAME=""
export ORDER_APP_PASSWORD=""
export ORDER_ROOT_USERNAME=""
export ORDER_ROOT_PASSWORD=""
